@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family:"Poppins",sans-serif;
}

.header {
	position:fixed;
	top:0;
	left:0; 
	width:100%;
	backdrop-filter:blur(50px);
	display:flex;
	align-items:center;
	z-index:100;
    justify-content: space-between;
    padding: 20px 20px ;
    margin-top: 0px; 
    background-color:white;
	
}
.icon{
	display:flex;

}

.logo{
	height:40px;
	margin-right:5px;
	float:left;
}
.title{
	font-size:2.4rem;
	color:rgb(35, 60, 145);
	text-decoration:none;
	font-weight:700;	
}
.navbar {
    display: flex;
    gap: 15px; 
}


.butt{
	font-size:1.15rem;
	color:rgb(35, 60, 145);
	text-decoration:none;
	padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #F5F5F5;
    border-radius: 20px; /* Bordure arrondie pour l'effet ovale */
    transition: background-color 0.3s;
    margin-left:10px;
	
}
.navbar a:hover {
    background-color: #b7bbca ;  
}
body{
	width: 100%;
	background: url('backgroundd.png');
	background-position: top;
	background-size: cover;
	min-height: 100vh;;
	justify-content:center;
	align-items:center;
}



.search{
    width: 350px;
    float:left;
    margin-left:290px;
    display:left;    
    position: absolute;
    left: 250px;
    justify-content: space-between;
    padding: 6px;
    background: rgba(255, 255, 255, 0.9); /* Fond blanc avec une légère transparence */
    border: 1px solid #ccc; /* Bordure pour la boîte de recherche */
    border-radius: 10px; /* Bordures arrondies */
    bottom: 25px; /* Distance du bas du conteneur */  
}

.search input[type="text"] {
    background:none;
    outline: none;
    font-size: 20px;
    border:none;
    margin-left:5px;
    margin-right: 8px; /* Espacement entre l'input et le bouton */
    width: 60%; 
    align-items:center;
}

.search button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;  
    margin-left:60px; 
}
 .search .search-icon {
    font-size: 30px; /* Ajustez la taille de l'icône */
    color: white; 
}
.dropbtn {
    background-color: #F5F5F5; /* Changez la couleur de fond selon votre design */
    color:rgb(35, 60, 145);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left :20px;
    margin-top:0px;

}

/* Conteneur du menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Contenu du menu déroulant (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(235, 235, 241);
    margin-left :-100px;
    min-width: 190px;
    box-shadow: 0px 9px 16px 0px rgba(32, 29, 29, 0.2);
    z-index: 1;
    margin-top: 20px;
    border-radius: 10px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}

/* Changement de couleur lors du survol des éléments du menu */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Montrer le menu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Montrer les icônes de flèche vers le bas et utilisateur quand on survole le bouton du menu */
.dropdown:hover .dropbtn {
    background-color: #b7bbca;
}




.container {
    display: flex;
    margin-top:120px;
    
}



.card-header {
	margin-top: 100px;
	margin-left:0px;
}
.container .card {
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère pour le relief */
    border-radius: 3px; /* Coins arrondis pour le conteneur */
    overflow: hidden; /* Cache les débordements pour maintenir les coins arrondis */
    transition: transform 0.3s ease; /* Animation légère lorsque la carte est survolée */
    
}
.container{
	flex-wrap: wrap;
    display: flex;
    justify-content: space-around; /* Espacement autour des cartes */
     /* Permet aux cartes de passer à la ligne suivante si l'écran est trop petit */
    gap: 100px; /* Espacement entre les cartes */
    margin-top:150px;
    margin-left:50px;
    margin-right:60px;
    margin-bottom:50px;
}

